$preview-padding-vertical: 0.375rem;

.preview-container {
  align-items: center;
  display: flex;
  padding-bottom: $preview-padding-vertical;
  padding-top: $preview-padding-vertical;
}

.preview {
  width: 100%;
}
